<h1>New Meeting</h1>
<%= form_for(@meeting) do |f| %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password%>
  </div>

  <div class="field">
    <%= f.label :date_for %><br />
    <%= f.select(:date_for) do %>
  	<% @dates.each do |date| -%>
    	<%= content_tag(:option, date.to_formatted_s(:long_ordinal) , value: date) %>
  		<% end %>
		<% end %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>

<% end %>


