<% provide(:title , @user.name) %>
<div class="large-6 small-12 large-centered small-centered columns center-text">
<h2><%= @user.name %></h2>
<%= mail_to @user.email %>
<p><%= @user.phone_number%></p>
<% if admin? or current_user == @user %>
	<% url =  @user.id.to_s + '/stats' %>
	<%= link_to "User Stats", url, :class => 'button small radius'%> 
<% end %>
<h3>Meetings I attended:</h3>
<ul>
<%= render @user.meetings %>
</ul>
</div>